/* * {
  padding: 0;
  margin: 0;
} */

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px*/
}

.text__opacity {
  opacity: 0.3;
}

.rccs {
  max-width: 290px !important;
  width: 100% !important;
}

.rccs__card {
  max-width: 290px !important;
  width: 100% !important;
}

.btn {
  border: 0;
  background: rgba(0, 0, 0, 0.822) !important;
  color: #fff !important;
}

.alert {
  text-align: center;
}

/* --------------------------- Header datos ------------------------------- */
.header__datos {
  background: rgba(0, 0, 0, 0.822);
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.header__datos h2 {
  margin: 0;
  font-size: 1.3rem;
}

.header__datos i {
  font-size: 2.5rem;
}

/* -------------------------- Form Datos ------------------------------ */
.datos__tarjeta {
  background-color: rgb(235, 229, 229);
  padding: 3rem 0;
}
.form__datos {
  background-color: rgb(235, 229, 229);
}

.datos__container {
  padding: 0 3.5rem 5rem;
  margin: 0 auto;
  width: 37rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
